.phone-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.phone-form__content {
  display: flex;
  flex-direction: column;
  gap: 50px;
  text-transform: uppercase;
  width: 380px;
}

.phone-form__header {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-transform: uppercase;
}

.phone-form__header--name {
  font-weight: 300;
  font-size: var(--font-size-large);
}

.phone-form__header--price {
  text-transform: none;
}

.phone-form__image {
  width: 510px;
  height: 630px;
  object-fit: cover;
}

.phone-form__body {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.custom-button {
  font-size: var(--font-size-extra-small);
  height: 56px;
}

.custom-button.disabled {
  width: 100%;
}

.custom-button.black {
  width: 100%;
}

@media (max-width: 768px) {
  .phone-form__image {
    width: 337px;
    height: 416px;
    object-fit: contain;
  }
}

@media (max-width: 425px) {
  .phone-form {
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
  }
  .phone-form__content {
    width: 100%;
  }

  .phone-form__image {
    width: 260px;
    height: 273px;
    object-fit: contain;
  }
}
