.storage-selector__label {
  font-size: var(--font-size-small);
  text-transform: uppercase;
}

.storage-selector__buttons {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.storage-selector__button {
  border: 1px solid #bebebe;
  padding: 10px 10px;
  cursor: pointer;
  background-color: var(--main-white);
  font-size: var(--font-size-small);
  height: 48px;
  width: 95px;
}

.storage-selector__button--selected {
  border: 1px solid var(--main-black);
}

.storage-selector__button--no-selected {
  border: 1px solid grey;
}
