.custom-button {
  height: 48px;
  width: 100%;
  text-transform: uppercase;
  font-size: var(--font-size-medium);
  border: none;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border 0.3s;
}

.custom-button.white {
  background-color: var(--main-white);
  color: var(--main-dark);
  border: 1px solid var(--main-dark);
}

.custom-button.white:not(.disabled):hover {
  background-color: var(--main-dark);
  color: var(--main-white);
}

.custom-button.black {
  background-color: var(--main-dark);
  color: var(--main-white);
  border: 1px solid transparent;
}

.custom-button.black:not(.disabled):hover {
  background-color: var(--main-white);
  color: var(--main-dark);
  border: 1px solid var(--main-dark);
}

.custom-button.disabled {
  background-color: #f3f2f2;
  color: #c2bfbc;
  cursor: not-allowed;
  border: 1px solid #f3f2f2;
}
