.phones-page {
  padding: var(--padding-desktop);
}

.phones-page__content {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.phones-page__search-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.phones-page__results-count {
  text-transform: uppercase;
  font-size: var(--font-size-extra-small);
  font-weight: 300;
}

@media (max-width: 768px) {
  .phones-page {
    padding: var(--padding-tablet);
  }
}

@media (max-width: 425px) {
  .phones-page {
    padding: var(--padding-mobile);
  }

  .phones-page__content {
    gap: 40px;
  }
}
