.phone-specfications__title {
  font-weight: normal;
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 40px;
  line-height: 24px;
}

.phone-specifications__list {
  list-style-type: none;
  padding: 0;
}

.phone-specifications__item {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 20px 0;
  text-transform: uppercase;
  border-bottom: 1px solid #000000;
}

.phone-specifications__item:first-child {
  border-top: 1px solid #000000;
}

.phone-specifications__item:last-child {
  border-bottom: 1px solid #000000;
}

.phone-specifications__item:not(:first-child):not(:last-child) {
  border-top: none;
}

.phone-specifications__title {
  font-weight: normal;
  font-size: 16px;
}

.phone-specifications__description {
  font-weight: normal;
  text-transform: none;
}

@media (max-width: 768px) {
  .phone-specifications__item {
    grid-template-columns: 1fr;
  }
}
