.header {
  padding: 20px 80px;
  position: sticky;
  top: 0;
  background-color: var(--main-white);
  z-index: 1000;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.header__content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.header__logo {
  font-weight: 700;
  text-transform: uppercase;
}

.header__cart-link {
  font-size: var(--font-size-medium);
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
}

.header__back-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
  text-transform: uppercase;
  color: inherit;
  margin-top: 40px;
  font-size: var(--font-size-extra-small);
}

@media (max-width: 768px) {
  .header {
    padding: 10px 40px;
  }
}

@media (max-width: 425px) {
  .header {
    padding: 10px 10px;
  }
}
