.search-phone-input-wrapper {
  position: relative;
  display: flex;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
  white-space: nowrap;
}

.search-phone-input {
  width: 100%;
  height: 27px;
  padding-bottom: 5px;
  padding-right: 30px;
  font-size: var(--font-size-medium);
  border: none;
  border-bottom: 2px solid #00000067;
  outline: none;
}

.search-phone-input::placeholder {
  color: #aaaaaa;
}

.clear-input {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  font-size: 18px;
  color: #888;
  cursor: pointer;
}
