.phone-detail-page {
  padding: var(--padding-desktop);
}

.phone-detail-page__content {
  display: flex;
  flex-direction: column;
  gap: 100px;
  width: 75%;
  margin: 40px auto;
}

@media (max-width: 425px) {
  .phone-detail-page {
    padding: var(--padding-mobile);
  }

  .phone-detail-page__content {
    display: flex;
    flex-direction: column;
    gap: 100px;
    width: 100%;
    margin: auto;
  }
}
