.phone-card {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 344px;

  background-color: var(--main-white);
  color: var(--main-dark);

  overflow: hidden;

  outline: 1px solid var(--main-dark);
  padding: 1rem;

  transition: color 0.3s;
}

.phone-card::before {
  height: 100%;
  width: 100%;

  content: "";

  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;

  background-color: var(--main-dark);

  transition: top 0.3s;
}

.phone-card:hover::before {
  top: 0;
}

.phone-card:hover {
  color: var(--main-white);
}

.phone-card__content {
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  z-index: 2;
}

.phone-card__image {
  height: 213px;
  object-fit: contain;

  z-index: 2;

  position: relative;

  margin-bottom: 20px;
}

.phone-card__information {
  font-size: var(--font-size-extra-small);
  text-transform: uppercase;

  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.phone-card__brand {
  font-size: var(--font-size-tiny);

  color: #79736d;
}

.phone-card__price {
  font-size: var(--font-size-extra-small);
}

.phone-card:hover .phone-card__brand {
  color: var(--main-white);
}

.phone-card__link {
  display: block;

  text-decoration: none;

  color: inherit;
}

.phone-card__link:focus,
.phone-card__link:hover {
  text-decoration: none;
}

.phone-card--horizontal {
  width: 344px;
  height: 344px;

  margin-right: 0;
  margin-left: 1px;

  outline: 1px solid var(--main-dark);
  border-top: 1px solid var(--main-dark);
  border-bottom: 1px solid var(--main-dark);

  padding: 1rem;

  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  flex-shrink: 0;
}
