.payment-section {
  display: flex;
  justify-content: space-between;
}

.custom-button {
  width: 244px;
}
.payment-section__total-and-buttons {
  display: flex;
  align-items: baseline;
  gap: 20px;
}

.payment-section__total {
  display: flex;
  gap: 10px;
  font-size: 14px;
  font-weight: 400;
}

.payment-section__buttons {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-top: 20px;
}

@media (max-width: 768px) {
}

@media (max-width: 569px) {
  .payment-section {
    flex-direction: column;
  }
  .payment-section__total {
    justify-content: space-between;
  }

  .custom-button {
    width: 100%;
  }
}
