name: Testing

on: push

jobs:
  test:
    name: Tests passes
    runs-on: ubuntu-latest

    steps:
      - name: Git checkout
        uses: actions/checkout@v3

      - name: Install modules
        run: npm ci

      - name: Testing
        run: npm test
        env:
          VITE_APP_API_URL: ${{secrets.VITE_APP_API_URL}}
          VITE_APP_API_KEY: ${{ secrets.VITE_APP_API_KEY }}
